{% extends 'base.html' %}

{% block content %}
<div class="movie_list row">

  {% for movie in movies %}
  <div class="col-lg-3 col-md-4 col-sm12">
    <!-- movie card -->
    <div class="movie-card">
        <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">

      <img src="{{ url_for('static', filename=movie.image) }}" class="card-img-top" alt="{{ movie.name }}">
      <div class="card-body">
            <h6 class="card-title">{{ movie.name }}</h6>
      </div>
        </a>

    </div>
    <!-- movie card end -->
  </div>
  {% endfor %}

</div>
{% endblock content %}